form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, select {
    margin-top: 5px;
    outline: none;
    padding: 10px;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: box-shadow 200ms ease,transform 200ms ease;
}

button:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 #10162f;
}

span, .error-message {
    color: red;
}

.has-error {
    border: 2px solid red;
}